# MODÜL 2 <br>
**Yorum Satırları, Değişkenler, Veri Tipleri ve Operatörler**<br>

**Örnek 1**

In [ ]:
#Bu kod ekrana yazı yazılmasını sağlamaktadır.
print ("Konu: Yorum satırlarını kullanma")
#Her satırın başına # işareti ekleyerek 
#Alt alta yorum satırları oluşturabilirsiniz

Konu: Yorum satırlarını kullanma

**Örnek 2**<br>
Yorum satırlarını kod satırının devamında aynı satırda kullanabilirsiniz. Bu kullanımda önce kod gelir,
devamında yorum satırı “#” işareti ile başlar (öndeki kod çalışır), daha sonra satır sonuna kadar yorum
satırı olarak dikkate alınmaz.

In [ ]:
print (2+3) # Bu kod satırı ekrana 2 sayının toplamını yazar

5

**Örnek 3**<br>Birden fazla yorum satırı kullanılacaksa yorumlar üçlü tek tırnak veya üçlü çift tırnak blokları arasına
yazılır.

In [ ]:
'''Python’da birden fazla
açıklama satırı
kullanmak için üçlü tek tırnak veya çift tırnak
kullanılır açıklama satırını bitirmek için 
aynı şekilde kullanılır'''

'Python’da birden fazla\naçıklama satırı\nkullanmak için üçlü tek tırnak veya çift tırnak\nkullanılır açıklama satırını bitirmek için \naynı şekilde kullanılır'

**Örnek 4**<br>Yorum satırlarını Python yorumlayıcı dikkate almaz. Ancak aşağıdaki kod satırları yorum satırı olarak
değerlendirilmez.

In [ ]:
#!/usr/bin/env python3 veya #!c:/Python/python.exe
# -*- coding: utf-8 -*-

**Örnek 5**<br>Yorum satırları süsleme amacıyla da kullanılabilir. Bazı program dosyalarında aşağıdaki gibi süslü açıklamalar, etiketler görülebilir.

In [ ]:
'''
#############################################################
##*********************************************************##
##                   Python Öğreniyorum                    ##
##                      Python 3                           ##
##*********************************************************##
############################################################## 
'''

'\n#############################################################\n##**********************************************************************************##\n##                                            Python Öğreniyorum                                      ##\n##                                                       Python 3                                              ##\n##**********************************************************************************##\n ############################################################# \n    '

# **Değişkenler**

**Örnek 6**<br>
Değişken oluşturma ve değer atamaya ilişkin örnekler:

In [ ]:
#sayi1 değişkenine 5 sayisini atadık
sayi1=5
print('Değişkenin içindeki sayı: ', sayi1)
sayi1=10
print('Değişkenin içindeki sayı: ', sayi1, 'oldu')
sayi1='Murat'
print ('Değişkenin içindeki değer: ', sayi1, 'oldu')
sayi1=10.5
print ('Değişkenin içindeki sayı: ', sayi1, 'oldu')
#Python'da değişkenin veri tipi ona değer atandığında tanımlandığı için aynı değişkene hem karakter dizisi hem de sayısal değerler atanabiliyor.

Değişkenin içindeki sayı:  5
Değişkenin içindeki sayı:  10 oldu
Değişkenin içindeki değer:  Murat oldu
Değişkenin içindeki sayı:  10.5 oldu

<br>**Örnek 7**<br>
Aşağıda 3 değişkene de tek satırda 1 değeri atanmıştır.

In [ ]:
a = b = c = 1
print ('1. sayı=', a)
print ('2. sayı=', b)
print ('3. sayı=', c)

1. sayı= 1
2. sayı= 1
3. sayı= 1

**Örnek 8**<br>
Değişkenler aralarına virgül eklenerek yan yana yazılır. Değerleri de aynı sıralama ile karşılarına yazılır.

In [ ]:
adi, soyadi, yasi='Canan', 'DAĞDEVİREN', 34
print ("Adı=", adi)
print ("Soyadı=", soyadi,)
print ("Yaşı=", yasi)

Adı= Canan
Soyadı= DAĞDEVİREN
Yaşı= 34

**Örnek 9**<br>
Değişkenlere değer atamak için başka bir yöntem aralarına noktalı virgül “;” ekleyerek değişken - değer
ikilileri şeklinde yazmaktır.

In [ ]:
adi='Aziz'; soyadi='SANCAR'; yasi=73
print ("Adı=", adi)
print ("Soyadı=", soyadi,)
print ("Yaşı=", yasi)

Adı= Aziz
Soyadı= SANCAR
Yaşı= 73

**Örnek 10**<br>
Değer atanmayan ve/veya tanımlanmamış bir değişken kullanılırsa  Python hata verir.

In [ ]:
print (yenisayi)
#Python değişkenleri değer atandığında tanımlandığı için hata mesajını alırsınız.
# yenisayi değişkeni tanımlanmamış olduğu için hata mesajı alınır.

NameError: ignored

Değer atamadan tanımlamak için `yenisayi=int()` kodu kullanılabiir. Bu durmda değişkene ilk değer olarak 0 değeri atanır.

In [ ]:
yenisayi=int()
print(yenisayi)
yenimetin=str()
print(yenimetin)

0

**Örnek 11**<br>Değişkenler veri tiplerine göre kullanılmazsa Python hata verir.

In [ ]:
sayi1=1
metin1='deneme'
print(sayi1+metin1) #Bir sayı ile bir metni, kelimeyi toplamaya çalışıyoruz.

TypeError: ignored

Python programlama dilinde reserve sözcükler kullanılamaz. Bu özel sözcüklerin listesini görmek için aşağıdaki kodu kullanabilirsiniz.

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

**Örnek 12**<br>
Python dilinde uygun değişken adı örnekleri:

In [ ]:
#Uygun değişken isimleri
sayi1=1
Sayi1=2

sayi1' ekrana yazdırırsanız çıktı ne olur?

In [ ]:
print (sayi1)
print(Sayi1)
#Büyük harf ve küçük harf kullanarak tanımladığınız değişkenlerin adı aynı olsa bile farklı değişkenler olduğunu unutmayın
sayı1=3
#Python  değişken adlandırma da Türkçe karakterler kullanmamıza izin vermektedir.
print(sayı1)

1
2
3

**Örnek 13**<br>
Python'da hatalı değişken adı kullanımı.

In [ ]:
1sayi=5 #hatalı değişken adı.
print (1.sayi)

SyntaxError: ignored

**Örnek 14**
<br>Camel standardında değişken adı tanımlama

In [ ]:
adi= "Elif"
soyadi="Altun"
dogumYili=1981
universiteMezunuMu=True
universiteyeBasladigiYil=1999
mezuniyetNotu=2.00
print ('Adı: ', adi)
print ('Soyadı: ', soyadi)
print('Üniversite Mezunu mu? ', universiteMezunuMu)
print('Üniversiteye Başladığı Yıl: ', universiteyeBasladigiYil)
print('Mezuniyet Notu: ', mezuniyetNotu)

Adı:  Elif
Soyadı:  Altun
Üniversite Mezunu mu?  True
Üniversiteye Başladığı Yıl:  1999
Mezuniyet Notu:  2.0

**Örnek 15**<br>
Hatalı veri tipi kullanımına örnek: “sayi2” değişkeninin tek tırnak içinde verildiğine ve bir karakter dizisi
olduğuna dikkat edilmelidir.

In [ ]:
sayi1=5
sayi2='3'
print (sayi1+sayi2)

TypeError: ignored

**Örnek 16**<br>
Operatörler konusunda * operatörü ile ilgili bir ayrıntıdan bahsedilmişti.

In [ ]:
sayi1=5
sayi2='3' 
#sayi2 değişkenin tek tırnak içinde verildiğine ve bir karakter dizisi olduğuna dikkat ediniz.
print (sayi1*sayi2)
#Sizce nasıl bir sonuç çıkacak

33333

**Örnek 17**<br>
Pythonda bir değişkene değer atandığında veri tipleri atanan değere göre otomatik olarak belirlenir.

In [ ]:
piSayisi=3.14
#float tipinde bir veri
print ('pi sayısı=', piSayisi)
rCm=2
#integer tipinde veri
alan=3.14*2**2
print ('Alan=', alan)
#sonuç float tpinde
print('Yarıçapı 2 olan dairenin alanı ', alan, ' cm 2 dir' )
karmasikSayi=4+5j
print('Bir karmaşık sayı=', karmasikSayi+3j)

pi sayısı= 3.14
Alan= 12.56
Yarıçapı 2 olan dairenin alanı  12.56  cm 2 dir
Bir karmaşık sayı= (4+8j)

**Örnek 18**<br>Python’da bir değişkene değer atandığında veri tipleri atanan değere göre otomatik olarak belirlenir.

In [ ]:
metin1 = 'Merhaba '
metin2 = 'Mars'
print (metin1) # karakter dizisinin tamamını yazar
print (metin1 * 2) # karakter dizisini 2 defa yazar
print (metin1 + metin2) # iki karakter dizisini birleştirir
print ('metin1 adlı değişkendeki değerin uzunluğu:', len(metin1))
#Boşluğun da bir karakter olduğunu gözden kaçırmayınız.

Merhaba
Merhaba Merhaba
Merhaba Mars
metin1 adlı değişkendeki değerin uzunluğu: 8

**Örnek 19**<br>
Bir karakter dizisi ekrana yazdırılabilir, başka bir karakter dizisiyle birleştirilebilir.
“len( )” metodu bir karakter dizisinin uzunluğunu vermektedir.

In [ ]:
metin='Merhaba Mars'
print (metin[0])         # ifadenin ilk karakterini yazar
print (metin[4:7])      # ifadenin 5, 6 ve 7. karakterlerini yazar
print (metin[8::])       # 9. karakterden sonuncu karaktere kadar yazar
print (metin[-2])        # karakter dizisinin en sondan ikinci karakterini yazar
print (metin [:7])       # indisi 0' dan 7'ye kadar olan (7 dahil değil) karakterleri yazar
print (metin[8:])        # başlangıç indisinden sonra tüm karakterleri yazar
print(metin[0:8:2])     # 0, 2, 4 ve 6 indis numaralı karakterleri dilimler

M
aba
Mars
r
Merhaba
Mars
Mraa

<br>**Örnek 20**<br>
Bir değişkenin veri tipi type( ) komutuyla kontrol edilir. type (degiskenAdi) şeklinde yazılır.

In [ ]:
sayi1=5
sayi2=10.556
metin1="1" 
#metin1 değişkenine tırnak içinde verdiğimiz sayının bir karakter, string olduğuna dikaket edin
sayi3=4+5j
askerlikYaptiMi=True
#True doğru, 1, evet anlamındadır.
print ("1. değişkenin veri tipi: ", type(sayi1))
print ("2. değişkenin veri tipi: ", type(sayi2))
print ("3. değişkenin veri tipi: ", type(metin1))
print ("4. değişkenin veri tipi: ", type(sayi3))
print ("5. değişkenin veri tipi: ", type(askerlikYaptiMi))
listem=['Mehmet', 24, 'Mühendis', True]
print ("6. değişkenin veri tipi: ", type(listem))
demet1=('Mehmet', 24, 'Mühendis', True)
print ("7. değişkenin veri tipi: ", type(demet1))
sozluk={'adi': 'Mehmet','yasi': 24, 'meslekUnvani':'Mühendis', 'askerlikDurumu': True}
print ("8. değişkenin veri tipi: ", type(sozluk))

1. değişkenin veri tipi:  <class 'int'>
2. değişkenin veri tipi:  <class 'float'>
3. değişkenin veri tipi:  <class 'str'>
4. değişkenin veri tipi:  <class 'complex'>
5. değişkenin veri tipi:  <class 'bool'>
6. değişkenin veri tipi:  <class 'list'>
7. değişkenin veri tipi:  <class 'tuple'>
8. değişkenin veri tipi:  <class 'dict'>

**Veri Tiplerini Dönüştürmek**<br>

**Örnek 21**<br>Aşağıdaki örnekte iki sayının da tırnak içinde verilmiş olduğuna dikkat ediniz.

In [ ]:
metin1='5'
metin2='3'
print (metin1+metin2)

53

**Örnek 22**<br>İki değişkenin veri tipini dönüştürünüz. Veri tipi dönüştürüldüğünde karakter dizisi sayıya çevrilmiş olacaktır. Böylece iki sayısal değer üzerinde toplama işlemi yapılabilir.

In [ ]:
print(int(metin1)+int(metin2))

8

**Örnek 23**<br>Aşağıdaki örnekte pi değerinin “float” ve “integer” veri tiplerinde kullanıldığında çıkan sonuca dikkat
ediniz.

In [ ]:
piDegeri=3.14
print ('Veri Tipi: ',type(piDegeri))
#3.14 değerini verdiğimizde piDegeri float veri tipi olarak tanımalancaktır.
yariCap=5
daireninAlani=((piDegeri*2)*yariCap)
print('Dairenin Alanı (float)=', daireninAlani)
piDegeriInt=(int(piDegeri))
# int(piDegeri*2) ifadesi float değeri int veri tipini dönüştürüldü.
print('Int veri tipine dönüştürülen piDegeri: ', piDegeriInt)
daireninAlani=((piDegeriInt*2)*yariCap)
print('Dairenin Alanı (int)=', daireninAlani)

Veri Tipi:  <class 'float'>
Dairenin Alanı (float)= 31.400000000000002
Int veri tipine dönüştürülen piDegeri:  3
Dairenin Alanı (int)= 30

**Örnek 24**<br>Boolean veri tipini sayısal veri tipine ve string veri tipine dönüştürebilirsiniz. Bu işlemin tersini de yapabilirsiniz.

In [ ]:
askerlikYaptiMi=True
print('Askerlik yaptı mı?', askerlikYaptiMi)
askerlikYaptiMiInt=int(askerlikYaptiMi) #integer tipine dönüştürdük
print('Askerlik yaptı mı?', askerlikYaptiMiInt)
askerlikYaptiMiStr=str(askerlikYaptiMi) #string tipine dönüştürdük
print('Askerlik yaptı mı?', askerlikYaptiMiStr)
#Çıktı olarak True verecek ancak bu boolean tipinde değildir.

Askerlik yaptı mı? True
Askerlik yaptı mı? 1
Askerlik yaptı mı? True

**Toplama (Operatörü)**
<br>**Örnek 25**<br>Sayısal değerler “integer” , “float” veya “complex” tipinde olabilir.

In [ ]:
print (5+3)
print (5+3+3)
sayi1=10
print (sayi1+5)
#Aynı şekilde değişken kullanarak da yapabiliriz.
sayi2=10.34
print (sayi1+sayi2+5.5) #farklı veri tiplerindeki sayıları ve değişkenleri de kullanabiliriz

8
11
15
25.84

**Örnek 26**<br>Toplama operatörünün karakter dizilerinde farklı bir kullanımı vardır: İki veya daha fazla karakter dizisini birleştirmek için kullanılabilir.

In [ ]:
print ('Merhaba ' + 'Mars')
metin1='Merhaba ' + 'Mars' + ' nasılsın?'
print(metin1)

Merhaba Mars
Merhaba Mars nasılsın?

**Çıkarma Operatörü**<br>
**Örnek 27**<br>
Bu operatör, sayıların farkını bulmak için kullanılır.

In [ ]:
print(5-3)
sayi1=5
sayi2=3
print(sayi1-sayi2)

2
2

 **Çarpma Operatörü**<br>
<br>**Örnek 28**<br>
Çarpma operatörü iki veya daha fazla sayıyı çarpmak için kullanılır.

In [ ]:
print(5*3)
print(5*3*2)
sayi1=5
sayi2=3
print(sayi1*sayi2)

15
30
15

**Örnek 29**<br>Bir karakter dizisini istediğiniz kadar yazdırmak için çarpma operatörünü kullanabilirsiniz.

In [ ]:
print (20*'BA')

BABABABABABABABABABABABABABABABABABABABA

**Bölme Operatörü**
<br>**Örnek 30**<br>

In [ ]:
print (5/3)

0.8333333333333334

<br>**Örnek 31**<br> İkiden fazla sayıyı bölmek için de kullanabiliriz.<

In [ ]:
print(18/3/2)
# Soldan başlayarak bölme işlemlerini yapar.
# önce 18/3 işlemini yapar ve sonucu 2'ye böler.

3.0

**Kuvvet (\*\*) Alma**
<br>**Örnek 32**<br>
5’in 3. kuvvetinin bulunması:

In [ ]:
print(5**3)

125

**Örnek 33**<br>49’un karekökünü almak için 1/2 kuvveti alınır.

In [ ]:
print(49**(1/2))

7.0

**Tam Bölüm (//) Operatörü**
<br>**Örnek 34**<br>
İki sayının birbirine tam bölüm sonucunu verir. Bölüm sonucu ondalıklı sayı ise ondalıklı kısmını almaz.

In [ ]:
print (121.00//3)

40.0

**Mod Alma (%) Operatörü** 
<br>**Örnek 35**<br>
Bir sayının diğer bir sayıya bölümünden kalanını verir.

In [ ]:
print (5%3) #Sayının 3 ile bölümünden kalan.
print (9%2) #Kalan 0 ise sayı çifttir.

2
1

**Eşittir (==) Operaötürü**
<br>**Örnek 36**<br>
“==” operatörü iki değerin birbirine eşit olup olmadığını anlamak için kullanılır. İki değer birbirine
eşitse “True”, eşit değilse “False” değeri verir.

In [ ]:
print(5==3)
#değişkenlere atadığımız değerleri de aynı şekilde kontrol edebiliriz
sayi1=5
sayi2=3
print(sayi1==sayi2)
print(sayi1==5)

False
False
True

<br>**Örnek 37**<br>“==” Operatörü karakter dizilerinde de değerlerin eşitliğini kontrol etmek için kullanılır.

In [ ]:
print('Emre'=='emre')
# Küçük büyük harf duyarlılığına (case sensetive) dikkat edin.
metin1='Emre'
metin2='emre'
print(metin1==metin2)
print(metin1=='Emre')

False
False
True

**Eşit değildir (!=) Operaötürü**
<br>**Örnek 38**<br>
!=” operatörü iki değerin birbirinden farklı olup olmadığını anlamak için kullanılır. “==” operatörü-
nün tersine değerler birbirine eşitse “False”, eşit değilse “True” değerini döndürür.

In [ ]:
print(5!=3)
sayi1=5
sayi2=3
print(sayi1!=sayi2)
print(sayi1!=5)
# Çıktıların == operatörünün tersi olduğuna dikkat edin!

True
True
False

**Örnek 39**<br>
"!=” operatörü karakter dizilerinde de değerlerin farklılığını kontrol etmek için kullanılır

In [ ]:
print('Emre'!='emre')
# Küçük büyük harf duyarlılığına (case sensetive) dikkat edin.
metin1='Emre'
metin2='emre'
print(metin1!=metin2)
print(metin1!='Emre')
# Çıktıların == operatörünün tersi olduğuna dikkat edin!

True
True
False

**Büyüktür (>) Operatörü**<br>
>**Örnek 40**<br>
Büyüktür “>” operatörü iki değeri karşılaştırmak için kullanılır. 1. sayı 2. sayıdan büyükse “True” değilse
“False” değerini döndürür.

In [ ]:
sayi1=6.06
sayi2=6.07
print(sayi1>sayi2)

False

“sayi2” değişkenine yeni bir değer atandığını gözden kaçırmayınız.

In [ ]:
sayi2=6
print (sayi1>sayi2)
sayi2=6.06
print(sayi1>sayi2)

**Küçüktür (<) Operatörü**
<br>**Örnek 41**<br>
Küçüktür “<” operatörü iki değeri karşılaştırmak için kullanılır. 1. sayı 2. sayıdan küçükse “True” değilse
“False” değerini döndürür. Büyüktür operatörünün tersi işlevini görür.

In [ ]:
sayi1=6.06
sayi2=6.07
print(sayi1<sayi2)
#Kitapta çıktı yanlışlıkla "False" olarak verilmiştir.

True

Programa devam edelim. “sayi2” değişkenine yeni bir değer atandığını gözden kaçırmayınız.

In [ ]:
sayi2=6
print (sayi1<sayi2)
sayi2=6.06
print(sayi1<sayi2)

True
True

Karakter dizileri, alfabetik olarak sıralandığında sonra gelen ifade daha büyük olarak değerlendirilir.

In [ ]:
print ('z'>'a')
print ('a'<'z')

True
True

**Büyük Eşittir (>=) ve Küçük Eşittir Operatörleri**
<br>**Örnek 42**<br>
Büyük Eşittir (>=) ve Küçük Eşittir (<=) Operatörleri kullanımı:

In [ ]:
sayi1=6.06
sayi2=6.06
print(sayi1>=sayi2)
print (sayi1<=sayi2)
#sayılar eşit olduğu için iki operatör de True değeri döndürecektir.
sayi2=6.07
print(sayi1>=sayi2)
print(sayi1<=sayi2)
#1.sayı 2. sayıdan küçük olduğu için sadece <= operatörü True değerini döndürecektir
sayi2=6.05
print(sayi1>=sayi2)
print(sayi1<=sayi2)
#sayi2 değişkeni 6.05 olduğu ve sayi1 sayi2 den büyük olacağı için sadece >= operaötürü True değeri döndürecektir.

True
True
False
True
True
False

**is ve is not operatörleri**
<br>**Örnek 42**<br>

In [ ]:
sayi1=5
print (sayi1  is 5)
print (sayi1 is not 5) #is operatörünün tersini verir

True
False

**Örnek 43**<br> is operatörü karakter dizisinde de kullanılabilir.

In [ ]:
print ('elif' is 'Elif')
#Yukarıdaki kod için büyük harf küçük harf duyarlılığını hatırlayın.
adi='Elif'
print (adi is 'Elif')
print (adi is not 'Elif') #is operatörünün tersini verir

False
True
False

“is” operatörü karakter dizisinde de kullanılabilir.

In [ ]:
print ('elif' is 'Elif')
#Yukarıdaki kod için büyük harf küçük harf duyarlılığını hatırlayınız.
adi='Elif'
print (adi is 'Elif')
print (adi is not 'Elif') #is operatörünün tersini verir.

False
True
False

**in ve in not operatörleri**<br>**Örnek 44**<br>

In [ ]:
# in operatörü kullanımı
print ('Bil' in 'Bilişim')
# 2. karaktrer dizisi içinde 1. karakter dizisi var mı?
print ('Bil' not in 'Bilişim')
# in operatörünün tersi sonuç verir

True
False

Not: in operatörünün for döngüsünde farklı bir kullanımı vardır. Bu konuya döngüler konusunda yer verilmiştir.

**Örnek 45**<br>Aşağıdaki kod ”sayi1=sayi1+3” koduyla aynı işlevi görür.

In [ ]:
sayi1=5
sayi1+=3 
print (sayi1)
metin1='Merhaba '
metin1+='Mars' #metin1=metin1+"Mars" koduyla aynı işlevi görür.
print(metin1)

8
Merhaba Mars

**Eksilterek  Atama Operatörünün Kullanımı**<br>
Bir değişkenden bir sayısal değeri eksilterek sonucun aynı değişkene atanmasını sağlar.
<br>**Örnek 46**<br>Aşağıdaki kod “sayi1=sayi1-3” koduyla aynı işlevi görür

In [ ]:
sayi1=5
sayi1-=3
print (sayi1)

2

**Çarparak  Atama Operatörünün Kullanımı**<br>
<br>**Örnek 47**<br>Aşağıdaki kod “sayi1=sayi1*3” koduyla aynı işlevi görür.

In [ ]:
sayi1=5
sayi1*=
print (sayi1)
#Aynı şekilde karakter dizilerinde de kullanılabilir.
metin1='Merhaba '
metin1*=3 #metin1=metin1*3 koduyla aynı işlevi görür.
print(metin1)

15
Merhaba Merhaba Merhaba

**Bölerek  Atama Operatörünün Kullanımı**
<br>Bir değişkeni bir sayısal değer ile çarparak sonucun aynı değişkene atanmasını sağlar.<br>
**Örnek 48**<br>Aşağıdaki kod “sayi1=sayi1/3” koduyla aynı işlevi görür.

In [ ]:
sayi1=5
sayi1/=3 
print (sayi1)

1.6666666666666667

**Kuvvet Alarak  Atama Operatörünün Kullanımı** <br>**Örnek 49**<br>Aşağıdaki kod “sayi1=sayi1**3” koduyla aynı işlevi görür.

In [ ]:
sayi1=5
sayi1**=3 
print (sayi1)

125

**Tam Sayı Bölerek Atama Operaötürünün Kullanımı**<br>
**Örnek 50**<br> Aşağıdaki kod sayi1=sayi1//3 koduyla aynı işlevi görür.

In [ ]:
sayi1=5
sayi1//=3
print (sayi1)

1

**Mod Alarak Atama Operaötürünün Kullanımı** <br>**Örnek 51**<br>Aşağıdaki kod sayi1=sayi1%3 koduyla aynı işlevi görür.

In [ ]:
sayi1=5
sayi1%=3 
print (sayi1)

2

**Mantıksal Operatörler**
<br>**Örnek 52**<br>
**"or" Operatörü**

In [ ]:
sayi1=5
#or operatörü kullanımı
print (sayi1<6 or sayi1>10) 
adi='Mehmet'
print (adi=='Mehmet' or adi=='Ali')
#Adı Mehmet veya Ali ise True değerini döndürür.
meslekUnvani='Mühendis'
print (meslekUnvani=='Öğretmen' or meslek=='Doktor')
#Meslek ünvanı Öğretmen veya Doktor olmadığı için False döndürür 
print (meslekUnvani=='Öğretmen' or meslekUnvani=='Doktor' or meslekUnvani=='Mühendis')
#Meslek Ünvanı Öğretmen veya Doktor veya Mühendis'ten biri ise True değeri döndürür.
# İkiden fazla koşul için de kullanılabilir.

True
True
False
True

**and Operatörü**<br>
**Örnek 53**<br>

In [ ]:
ogrenciDersPuani=50
print ( ogrenciDersPuani>50 and ogrenciDersPuani<60) 
#Bu iki koşulu da sağlıyorsa True değeri döndürür. Öğrencinin ders puanı 50 ile 60 aralığındadır.
#Ve anlamındadır
adi='Mehmet'
yasi=24
print (adi=='Mehmet' and yasi>=20)
#Adı Mehmet ve yaşı en az 20 ise True değerini döndürür.
meslekUnvani='Mühendis'
askerlikDurumu='Yaptı'
isTecrubeYil=2
print (meslekUnvani=='Mühendis' and askerlikDurumu=='Yaptı')
#Meslek ünvanı Mühendis ise ve askerliğini yapmışsa True değerini döndürür.
print (meslekUnvani=='Mühendis' and askerlikDurumu=='Yaptı' and isTecrubeYil>=3)
#Meslek ünvanı Mühendis ise, askerliğini yapmışsa ve en az 3 yıl iş tecrubesi varsa True değerini döndürür.

False
True
True
False

**not Operatörü**
<br>**Örnek 54**<br>

In [ ]:
ogrenciDersPuani=50
print(not(ogrenciDersPuani<45))
print (ogrenciDersPuani>45) #Yukarıdaki ifadeyle aynı işlevi görür

True

**Operatörlerde Öncelik Sırası**<br>
**Örnek 55**<br>

In [ ]:
print((3+5)*2) #Bu işlemin sonucunu tahmin edin. 
#Öncelikle parantez içi yapılacağında 8*2=16
print (3+5*2) #Peki ya bu işlemin sonucu kaçtır. 
#Öncelikle çarpma işlemi yapılacağından 3+10=13
print (3**2*2)
#Üs almada bir çarpma işlemidir ancak işlemler soldan sağa yapıldığı için öncelikli olarak yapılmaktadır.
print (6*7/7) # Bu işlemin sonucu? 
print (6*3/2+8/2*3) #Peki ya bu?

16
13
18
6.0
21.0

# Bölüm Alıştırmaları

1. Aşağıdaki kod çalıştırıldığında ekrana True veya False değerlerinden hangisi yazılır?

In [ ]:
sayi1=8*5/2
print (sayi1>20)

False

2. Aşağıdaki kod çalıştırıldığında ekrana True veya False değerlerinden hangisi yazılır?

In [ ]:
vizePuani=80
finalPuani=70
sonuc=(0.4*vizePuani)+(finalPuani*0.6)
print (sonuc>=60)

True

3. Aşağıdaki değişken adlandırmalarından hangisi yanlıştır?

In [ ]:

_sinav_puani1=80
sinavPuani=90
1sinavpuani=100
SınavPuanı=70

SyntaxError: ignored

4. Aşağıdaki kod çalıştırıldığında ekrana hangi değişken tipi yazılır?

In [ ]:
plaka='06'
print(type(plaka))

<class 'str'>

5. Aşağıdaki kod çalıştırıldığında ekrana ne yazılır?

In [ ]:
#sehir='Ankara'
sehir='İstanbul'
print ('Şehir: ', sehir)

Şehir:  İstanbul

6. Aşağıdaki kod çalıştırıldığında ekrana ne yazılır?

In [ ]:
sehir='Ankara'
sehir='İstanbul'
print (sehir!='istanbul') #operatöre dikkat
#Büyük harf küçük harf duyarlılığına dikkat
print (sehir=='İstanbul')

True
True

7. Veliye öğrencisinin devamsızlığını bildiren mesaj metni yazan kodları yazınız. Veli adını soyadını, mesajın içeriğini, devamsızlık süresini ayrı değişkenlere atayarak mesajda . Sn..... .......öğrencinizin toplam devamsızlığı .... gündür.
Python Lisesi

In [ ]:
onMesaj="Sayın "
veliAdi='Murat KARA'
mesajMetni =" öğrencinizin toplam devamsızlığı : "
devamsizlik='19.5'
veliMesaj=(onMesaj+veliAdi+mesajMetni+devamsizlik+' gün Python lisesi ')
print(veliMesaj)

Sayın Murat KARA öğrencinizin toplam devamsızlığı : 19.5 gün Python lisesi

8. Tüketiciye su faturasını bildiren mesaj metni oluşturan kodları yazınız.<br>
Kullanıcıya fatura tutarını belirten mesajda kullanılacak değişkenler: Hitap şekli, abone numarası, tüketim dönemi, tüketim tutarı*1.
<br>
Sayın ...nolu abonemiz .................. dönemi faturanız ...... TL'dir.   Python Belediyesi

In [ ]:
onMesaj="Sayın "
mesajSonu=" Mayıs 2020 dönemi faturanız : "
aboneNo="29101923"
tuketim=20
tuketimTutari=int(tuketim)*1.0
mesaj=onMesaj+str(aboneNo)+' nolu abonemiz ' + mesajSonu+str(tuketimTutari)+" TL' dir. Python Belediyesi"
print(mesaj)

Sayın 29101923 nolu abonemiz  Mayıs 2020 dönemi faturanız : 20.0 TL' dir. Python Belediyesi