<h>**MODÜL 14 <br>SQlite Veri Tabanı**</h>

Örnek 1: Kitaplık isimli veri tabanı oluşturulması

In [ ]:
import sqlite3
baglantı=sqlite3.connect("kitaplarım.db")
imlec=baglantı.cursor()
baglantı.close()

Örnek 2: Veri tabanına tablo ekleme

In [ ]:
import sqlite3
baglantı=sqlite3.connect("kitaplarım.db")
imlec=baglantı.cursor()
imlec.execute("CREATE TABLE IF NOT EXISTS kitaplar (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)")
baglantı.commit()
baglantı.close()

Örnek 3: Tabloya veri ekleme

In [ ]:
import sqlite3
baglantı=sqlite3.connect("kitaplarım.db")
imlec=baglantı.cursor()
imlec.execute ("INSERT INTO kitaplar VALUES('dogunun limanları','amin maaluf', 'ykredi',50)")
baglantı.commit()
baglantı.close()

Örnek 4: Kullanıcıdan veri alarak tabloya veri ekleme

In [ ]:
import sqlite3
def veri_ekle(kitap_adı,kitap_yazar,kitap_yayınevi,kitap_sayfa):
    baglantı=sqlite3.connect("kitaplarım.db")
    imlec=baglantı.cursor()
    imlec.execute ("INSERT INTO kitaplar VALUES(?,?,?,?)",(kitap_adı,kitap_yazar,kitap_yayınevi,kitap_sayfa))
    baglantı.commit()
    baglantı.close()
kitap_adı=input("lütfen kitap adı giriniz")
kitap_yazar=input("lütfen kitabın yazarını giriniz")
kitap_yayınevi =input("lütfen kitabın yayınevini giriniz")
kitap_sayfa= int(input("lütfen kitabın sayfa sayısını giriniz"))
veri_ekle(kitap_adı,kitap_yazar,kitap_yayınevi,kitap_sayfa)

Örnek 5: Tablodan tüm verileri çekmek

In [ ]:
import sqlite3
baglantı=sqlite3.connect("kitaplarım.db")
imlec=baglantı.cursor()
imlec.execute (" SELECT * FROM  kitaplar")
gelen_veri_listesi=imlec.fetchall()
print(type(gelen_veri_listesi))
print(gelen_veri_listesi)
baglantı.close()

Örnek 6: Tablodan kitap adlarını çekmek

In [ ]:
import sqlite3
bağlantı=sqlite3.connect("kitaplarım.db")
imleç=bağlantı.cursor()
imleç.execute (" SELECT İsim FROM  kitaplar")
gelen_veri_listesi=imleç.fetchall()
print(gelen_veri_listesi)
print("kitaplığınızda",len(gelen_veri_listesi),"adet kitap bulunmaktadır.")
bağlantı.close()

Örnek 7: Tablodan istediğimiz kritere uygun verileri çekme uygulaması

In [ ]:
import sqlite3
bağlantı=sqlite3.connect("kitaplarım.db")
imleç=bağlantı.cursor()
imleç.execute (" SELECT * FROM  kitaplar WHERE Yayınevi='ykredi'")
gelen_veri_listesi=imleç.fetchall()
print("sorgunuz ile eşleşen toplam = ",len(gelen_veri_listesi),"kayıt bulunmuştur")
print(gelen_veri_listesi)
bağlantı.close()

Örnek 8: Tabloda veri güncelleme uygulaması

In [ ]:
import sqlite3
baglantı=sqlite3.connect("kitaplarım.db")
imlec=baglantı.cursor()
imlec.execute (" UPDATE kitaplar SET Yayınevi= ? WHERE Yayınevi=?",('YKY ', ykredi))
baglantı.commit()
baglantı.close()

Örnek 9: Tablodan veri silme uygulaması

In [ ]:
import sqlite3
baglantı=sqlite3.connect("kitaplarım.db")
imlec=baglantı.cursor()
imlec.execute (" DELETE FROM kitaplar WHERE Yayınevi='yky'")
baglantı.commit()
baglantı.close()

Örnek 10: Tablodan kullanıcının girdiği kriterlere uyan verileri silme uygulaması

In [ ]:
import sqlite3
baglantı=sqlite3.connect("kitaplarım.db")
imlec=baglantı.cursor()
kitap_adı=input("silmek istediğiniz kitap adını giriniz")
imlec.execute (" DELETE FROM kitaplar WHERE İsim=? ",(kitap_adı,))
baglantı.commit()
baglantı.close()

Örnek 11: Firma veri tabanı ve personel tablosu oluşturma

In [ ]:
import sqlite3
bağlantı=sqlite3.connect("firma.db")
imleç=bağlantı.cursor()
imleç.execute("CREATE  TABLE IF NOT EXISTS personel (kimlik_no INT ,ad_soyad TEXT, telefon_no TEXT,e_posta TEXT,rolu TEXT,çalışılan_birim TEXT)")
bağlantı.commit()
bağlantı.close()

Örnek 12: Tablo işlemleri uygulaması

In [ ]:
import sqlite3
baglantı=sqlite3.connect("firma.db")
imlec=baglantı.cursor()
def veri_ekle (veri):
    bilgiler=veri.split(",")
    imlec.execute("INSERT INTO personel VALUES(?,?,?,?,?,?)",(bilgiler[0],bilgiler[1],bilgiler[2],bilgiler[3],bilgiler[4],bilgiler[5]))
    baglantı.commit()
    
def veri_getir (sorgu_metni):
    imlec.execute(sorgu_metni)
    sonuc=imlec.fetchall ()
    print("veri tabanında buluna kayıtlar...")
    for satır in sonuc:
        print(satır)
    print("toplam ",len(sonuc),"adet kayıt listelenmiştir.")

def veri_sil(sorgu_metni):
    imlec.execute(sorgu_metni)
    baglantı.commit()

def veri_güncelle(sorgu_metni):
    imlec.execute(sorgu_metni)
    baglantı.commit()

while True:
    secim=input('''
|---------------------------------------------|
| yapmak istediğiniz işlemi seçiniz |
| 1- veri ekleme işlemi                      |
| 2- veri sorgulama işlemi                |
| 3- veri güncelleme işlemi              |
| 4- veri silme işlemi                         |
| E- programı sonlandırma işlemi  | 
|--------------------------------------------|
''' )

    if secim=="1":
        veri=input('''kimlik numarası, ad soyad ,telefon, e posta, rolü, çalışılan_birim
                   bilgilerini araya virgül koyarak yazınız
                   ''')
        veri_ekle (veri)

    elif secim=="2":
        sorgu=input("lütfen sorgu yapmak için gereken sql metnini giriniz")
        veri_getir (sorgu)

    elif secim=="3":
        sorgu=input("lütfen veri güncelleme yapmak için gereken sql metnini giriniz")
        veri_güncelle(sorgu)

    elif secim=="4":
        sorgu=input("lütfen sorgu yapmak için gereken sql metnini giriniz")
        veri_sil (sorgu)
    elif secim=="E":
        baglantı.close()
        break
    else:
        print("listede olmayan bir seçim yaptınız")
                        
                        
print("program sonlandırıldı")

  BÖLÜM SONU SORULARI.

1- Okul adında bir veritabanı oluşturup personel adında tablo oluşturunuz. Örnek tablo alanları ve veri tipleri kimlik_no INT ,ad_soyad TEXT, telefon_no TEXT,e_posta TEXT,rolu TEXT,çalışılan_birim TEXT


---


2-Okul veri tabanında personel kimlik numarasına göre bilgilerini ekrana getiren programı yazınız.


---


3- Okul  veri tabanında ogrenci adında tablo oluşturunuz.Örnek tablo alanları ve veri tipleri ogrenci_no INT ,ad_soyad TEXT, telefon_no TEXT,e_posta TEXT,sınıfı TEXT,veli_adı TEXT,veli_numarası TEXT


---


4- Okul veri tabanında öğrenci bilgilerinin tamamını güncelleyebilen programı yazınız.

Cevap- 1 kodlar

In [ ]:
import sqlite3
baglantı=sqlite3.connect("okul.db")
imlec=baglantı.cursor()
imlec.execute("CREATE  TABLE IF NOT EXISTS personel (kimlik_no INT ,ad_soyad TEXT, telefon_no TEXT,e_posta TEXT,rolu TEXT,çalışılan_birim TEXT)")
baglantı.commit()
baglantı.close()

Cevap- 2 kodlar

In [ ]:
import sqlite3
baglantı=sqlite3.connect("okul.db")
imlec=baglantı.cursor()
kimlik_no=input("bilgilerini görmek istediğiniz personelin kimlik numarasını giriniz")
sorgu="SELECT * FROM personel WHERE kimlik_no=' "+kimlik_no+" '"
imlec.execute(sorgu)
bilgiler=imlec.fetchall()
print(bilgiler)
baglantı.close()

Cevap- 3 kodlar

In [ ]:
import sqlite3
baglantı=sqlite3.connect("okul.db")
imlec=baglantı.cursor()
imlec.execute("CREATE  TABLE IF NOT EXISTS ogrenci  (ogrenci_no INT ,ad_soyad TEXT, telefon_no TEXT,e_posta TEXT,sınıfı TEXT,veli_adı TEXT,veli_numarası TEXT)")
baglantı.commit()
baglantı.close()

Cevap- 4 kodlar

In [ ]:
import sqlite3
baglantı=sqlite3.connect("okul.db")
imlec=baglantı.cursor()
ogrenci_no=input("bilgilerini görmek istediğiniz öğrencinin numarasını giriniz")
sorgu="SELECT * FROM ogrenci WHERE ogrenci_no=' "+ogrenci_no+" '"
imlec.execute (sorgu)
bilgiler=imlec.fetchall()
print(bilgiler)
yeni_bilgiler=input('''
lütfen yeni bilgileri araya virgül koyarak giriniz
ogrenci_no, ad soyad, telefon no, e posta, sınıfı,veli adı, veli telefon numarası ''')
liste=yeni_bilgiler.split(",")
sorgu="UPDATE ogrenci SET ogrenci_no =?,ad_soyad=?,telefon_no=?,e_posta=?,sınıfı=?,veli_adı=?,veli_numarası=? WHERE ogrenci_no=? "
imlec.execute(sorgu,(liste[0],liste[1],liste[2],liste[3],liste[4],liste[5],liste[6],ogrenci_no))
baglantı.commit()
baglantı.close()